body {
  background-image: url("../images/ruleta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:"JQKAS Wild";
}

/* obrazec glava */
#Header {
  margin: 350px auto 20px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#dice {
  padding: 15px;
  height: 150px;
}
#sredni {
  border-left: 3px solid black;
  border-right: 3px solid black;
  padding: 0 45px;
}
.imena {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}

.numero {
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.naslov {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;
}

hr {
  border: 2px solid darkgray;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

#wrapper {
  border: solid darkgray 1px;
  margin: auto;
  width: 945px;
  /*background-color: white;*/
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  background-color: grey;
  opacity: 0.7;
}

.player {
  margin: 5px;
  width: 250px;
  padding: 20px 10px;

  display: inline-block;
  text-align: center;
}

.playerk {
  margin: 10px;
  width: 250px;
  padding: 20px;

  display: inline-block;
  text-align: center;
}
#ideGas {
  width: 80px;
}

.num {
  margin: 10px;
  display: inline-block;
  width: 251px;
  padding: 20px;
  text-align: center;
}

input[type="text"] {
  border-radius: 5px;
  padding: 2px;

  background-color: lightgray;
}
#gumb {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
  border-radius: 5px;

  margin-bottom: 5px;
  opacity: 0.7;
}
#buuton {
  text-align: center;
}

#runda {
  text-align: center;
  width: 150px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5px;
}

#redirekt {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5px;
  width: 300px;
}
